.container05 {
  @include backgroundImg(url("../../imgs/humanFlight/01.jpg"));
  .content{
    h1{
      font-size: 13rem;
    }
  }
}
.container06 {
  @include backgroundImg(url("../../imgs/humanFlight/02.jpg"));
  color: white;
  font-size: 100px;
}
.container07 {
  @include backgroundImg(url("../../imgs/humanFlight/03.jpg"));
}
.container08 {
  @include backgroundImg(url("../../imgs/humanFlight/04.jpg"));
}
.container09 {
  @include backgroundImg(url("../../imgs/humanFlight/05.jpg"));
}
